judges:
  - id: anthropic-claude-opus-4.5
    role: judge
    provider: openrouter
    model: anthropic/claude-opus-4.5
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0

  - id: anthropic-claude-sonnet-4.5
    role: judge
    provider: openrouter
    model: anthropic/claude-sonnet-4.5
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0

  - id: deepseek-deepseek-v3.2-exp
    role: judge
    provider: openrouter
    model: deepseek/deepseek-v3.2-exp
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0

  - id: google-gemini-3-pro-preview
    role: judge
    provider: openrouter
    model: google/gemini-3-pro-preview
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0

  - id: moonshotai-kimi-k2-thinking
    role: judge
    provider: openrouter
    model: moonshotai/kimi-k2-thinking
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0

  - id: openai-gpt-5-mini
    role: judge
    provider: openrouter
    model: openai/gpt-5-mini
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0

  - id: openai-gpt-5.1
    role: judge
    provider: openrouter
    model: openai/gpt-5.1
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0

  - id: qwen-qwen3-max
    role: judge
    provider: openrouter
    model: qwen/qwen3-max
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0

  - id: x-ai-grok-4.1-fast:free
    role: judge
    provider: openrouter
    model: x-ai/grok-4.1-fast:free
    token_limit: 3072
    prompt_style: default
    parameters:
      temperature: 0.0
